# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# NetBeans
nbproject/
build/

# Maven build output
target/

# Compiled JARs
*.jar
!cloudsim-cloudsim-4.0/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# GitHub
cloudsim-4.0.jar